* {
    box-sizing: border-box;
}

.page {
    font-family: 'Montserrat';

}

.centered-block {
    margin: 0 auto;
}

.section_margin-bottom {
    margin-bottom: 64px;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.title {
    color: #000;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 32px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__link {
    text-decoration: none;
}

.button {
    border: 1px solid #000000;
    border-radius: 50px;
    background: none;
    padding: 10px 33px;
    font-size: 0.875rem;
    line-height: 121%;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 750px) {
    .section_margin-bottom {
        margin-bottom: 32px;
    }

    .title {
        font-size: 1.5rem;
    }
}